.Home {
  padding-top: 90px;
}

.text-center {
  text-align: center;
}

button {
  font-size: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
